<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Sign up today</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Login to your account</h1>
  <hr>
  <h2>Please enter your credentials</h2>

  <form action="#" th:action="@{/api/login}" th:object="${userLogin}" method="POST">



    <input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

    <input type="password" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">

      <button  type="submit" class="btn btn-info col-2">Login</button>

    <div th:if="${error}" class="error">
      <p th:text="${error}"></p>

<!--      <script th:inline="javascript">-->
<!--        var message = /*[[${error}]]*/ '';-->
<!--    </script>-->
<!--      &lt;!&ndash; JavaScript code embedded within the Thymeleaf if block &ndash;&gt;-->
<!--      <script>-->
<!--            alert(message);-->
<!--        </script>-->
    </div>

  </form>

  <hr>

  <a th:href="@{/api/usual}"> Back to Home Page</a>
</div>

<script type="text/javascript">
        function showAlert() {
            alert('This is a simple alert message.');
        }
    </script>
</body>

</html>